body {
  display: flex;
  justify-content: center;
}

.main_page_buttons_box {
  display: flex;
  gap: 50px;
}

.main_page_link_button {
  border: 1px solid white;
  font-size: 3vw;
}

.button {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding: 10px;
}
